.button{
    padding: 15px;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
    border-radius: 10px;
}
.round{
    border-radius:10px;
}
.cart{
    width: 20%;
}
.bg{
    background-color: #FFF9F4;
}
.img-bg{
    background-color:#f1f1f1;
    border-radius: 8px;
}
.icons{
    width:79px;
    height: 76px;
}
.footer-img{
    Width:599px;
    Height:354px;
}